<div>
  <div class="chat-container">

    <input
      type="text"
      placeholder="Nombre de usuario..."
      name="name"
      id="name"
    />

    <input type="text" placeholder="Correo..." name="email" id="email" />
    <button id="send">Enviar</button>
    <button id="getButton">Get Cookie</button>

  </div>

</div>