//write me a thank you page of purchase using handlebars

<div>
  <h1>Thank you for your purchase</h1>
  <p>Here is your receipt</p>
  <p>Item: {{item}}</p>
  <p>Price: {{price}}</p>
  <p>Quantity: {{quantity}}</p>
  <p>Total: {{total}}</p>
  <a href="fakelink.com">Fake link</a>
</div>